# Data Collection

Importing libraries

In [3]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

Creating empty lists to collect informations

In [4]:
reviews = []

stars = []

date = []

country = []

In [6]:
for i in range(1,36):
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways")
    
    soup = BeautifulSoup(page.content)
    
    for item in soup.find_all("div", class_ = "text_content"):
        reviews.append(item.text)
        
    for item in soup.find_all("div", class_ = "rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")
            
    for item in soup.find_all("time"):
        date.append(item.text)
        
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip("()"))

Check the length of total reviews extracted

In [7]:
len(reviews)

350

In [8]:
len(country)

350

In [11]:
stars = stars[:350]

Create a dataframe from these collected lists of data

In [14]:
df = pd.DataFrame({"reviews":reviews, "stars":stars, "date":date, "country":country})

In [15]:
df.head

<bound method NDFrame.head of                                                reviews  \
0    ✅ Trip Verified |  We chose Rotterdam and Lond...
1    ✅ Trip Verified | The entire booking and ticke...
2    Not Verified |   British Airways cancelled my ...
3    Not Verified | I wanted to write this review s...
4    ✅ Trip Verified |  Check in fast and friendly....
..                                                 ...
345  ✅ Trip Verified |  This is the first time I ha...
346  ✅ Trip Verified |  Flew business class from Do...
347  ✅ Trip Verified |  Starting off at Heathrow Te...
348  Not Verified |  We have flown this route with ...
349  ✅ Trip Verified | A last minute business trip ...

                             stars             date             country
0    \n\t\t\t\t\t\t\t\t\t\t\t\t\t5  12th April 2024      (Netherlands)
1                                6  10th April 2024    (United States)
2                                1  10th April 2024    (United States)
3                                1   7th April 2024    (United States)
4                               10   3rd April 2024   (United Kingdom)
..                             ...              ...                 ...
345                             10   2nd April 2024   (United Kingdom)
346                              7   2nd April 2024   (United Kingdom)
347                              3  28th March 2024   (United Kingdom)
348                              4  28th March 2024   (United Kingdom)
349                              8  26th March 2024   (United Kingdom)

[350 rows x 4 columns]>

In [16]:
df.shape

(350, 4)

Export the data into csv

In [17]:
import os

cwd = os.getcwd()
df.to_csv(cwd+ "/BA_reviews.csv")